<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=">
    <meta name="keywords" content="Text editor, Realtime editing, Online notebook, Editable web pages, Instant saving, Text formatting, Online editor, Text processing tool, snaptext, notepad, just notepad, fastmemo, textarea, simple notepad, quick notepad, 文本编辑器,实时编辑,富文本编辑器,在线笔记本,可编辑网页,即时保存,在线编辑器,文本处理工具"> <!-- 添加关键字 -->
    <link rel="stylesheet" href="{{ url_for('static',filename='main/css/main.css')}}">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <script src="{{ url_for('static', filename='main/ckeditor5/ckeditor.js') }}" charset="utf-8"></script>

    <link rel="stylesheet" href="{{ url_for('static',filename='main/css/notepad.css')}}">

    <header>
        <div class="navbar">
            <div class="logo"><a href="">Snaptext</a> </div>
            <ul class="links">
                <li><div id="new"><a href="#">New</a></div></li>
                <li><div id="save"><a href="#">Save</a></div></li>
                <li><div id="delete"><a href="#">Delete</a></div></li>
                <li><div id="feedback"><a href="/feedback">FeedBack</a></div></li>
            </ul>
            <!--
            <a href="#" class="action_btn">Get started </a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
            -->
        </div>
    </header>

    <main>
        <section id = "content">
            <div class="textarea">
                <textarea rows="10" id="editor1" name="Contents"  class="input_notice"></textarea>
            </div>
        </section>
        <section id="record">
            <table class="table"  id="localStorageList" border="0" width="40%" cellspacing="0" cellpadding="0" align="center">
                <tbody id="tableBody">
                </tbody>
            </table>
        </section>

    </main>



    <script>
    ClassicEditor
        .create( document.querySelector( '#editor1' ), {
            toolbar: {
                items: [
                    'selectAll', '|',
                    'bold','underline','|','fontColor', 'fontBackgroundColor', 'highlight','|',
                    'link','SourceEditing'
                ]
            },
            language: 'kr',

        } )
        .then( editor1 => {
            window.editor1 = editor1;
        } )
        .catch( err => {
            console.error( err.stack );
        } );


    </script>
    <script src="{{ url_for('static', filename='main/js/notepad.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const editor1 = window.editor1;

            // 使用事件委托添加双击事件监听器
            document.getElementById('localStorageList').addEventListener('dblclick', function(event) {
                const target = event.target;
                // 确保双击的是表格行
                if (target.tagName === 'TD') {
                    // 获取当前行的第三列富文本值
                    const richTextValue = target.parentNode.cells[2].textContent;
                    // 在编辑器中显示该富文本值，确保不显示标签
                    editor1.setData(richTextValue);
                }
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // 使用事件委托添加点击事件监听器
            document.getElementById('localStorageList').addEventListener('click', function(event) {
                const target = event.target;

                // 确保点击的是删除按钮
                if (target.tagName === 'BUTTON') {
                    // 获取当前行的id
                    const rowId = target.parentNode.cells[0].textContent;

                    // 从localStorage中删除相应的数据
                    deleteLocalStorage(rowId);
                }
            });
        });
    </script>
    <footer class="footer">
        <div class="footerbox">
            <p>
                <a href="#"></a>
                <a href="#"></a>
            </p>
        </div>
    </footer>
</body>

</html>